<script type="text/ng-template" id="distribuicaoCommon.html">
 
	<div layout="column" ng-show="vm.cmdDistribuir.tipoDistribuicao.length > 0">
		<md-input-container flex>
			<label>Justificativa</label>
			<textarea rows="2" ng-model="vm.cmdDistribuir.justificativa" id="txtJustificativa">
			</textarea>
		</md-input-container>
	</div>
	
	<md-button type="button" id="distribuir-processo" class="md-raised md-accent"
		aria-label="Distribuir Processo" ng-click="vm.distribuirProcesso()" ng-disabled=!vm.isFormValido()> 
		Distribuir Processo
	</md-button>

</script>

<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <stf-header
        fab-icon="{{ vm.selectedTab == 1 ? 'icon-content-save' : 'icon-magnify' }}" 
        fab-text="{{ 'DISTRIBUICAO.NOVA.' + (vm.selectedTab == 1 ? 'SALVAR-PESQUISA' : 'BUSCAR') | translate }}">
    </stf-header>
    <div layout="column" class="content">
        <div class="md-title mt-10">Distribuição de Processo</div>
        <div class="pb-16">Informe os dados do processo a ser distribuído.</div>
        <div layout="row">        
            <div class="form-wrapper md-whiteframe-1dp" flex="100">
                <form name="basicForm" class="md-inline-form" novalidate>
                    <div layout="column">
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Tipo de Distribuição</label>
                                <md-select id="cboTipoDistribuicao" ng-model="vm.cmdDistribuir.tipoDistribuicao" ng-change="vm.carregarViewTipoDistribuicao()">
                                    <md-option ng-repeat="tipoDistribuicao in vm.tiposDistribuicao" value="{{tipoDistribuicao.id}}">
                                        {{tipoDistribuicao.id}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div ui-view></div>
                </form>
            </div>
        </div>
    </div>
</div>